Source: gsettings-qt
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders:
 Boyuan Yang <073plan@gmail.com>,
Build-Depends: debhelper (>= 10~),
               pkg-config,
               libglib2.0-dev,
               qtchooser,
               qt5-qmake,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qml-module-qttest,
               qml-module-qtquick2,
               xvfb,
               xauth,
Standards-Version: 4.0.0
Section: libs
Homepage: https://launchpad.net/gsettings-qt
Vcs-Git: https://anonscm.debian.org/git/collab-maint/gsettings-qt.git
Vcs-Browser: https://anonscm.debian.org/git/collab-maint/gsettings-qt.git
# Original Ubuntu upstream Bzr repository
#Vcs-Bzr: https://code.launchpad.net/~system-settings-touch/gsettings-qt/trunk

Package: qtdeclarative5-gsettings1.0
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libgsettings-qt1 (= ${binary:Version}),
Description: QML Bindings for GSettings
 This library provides QML bindings for GSettings.
 
Package: libgsettings-qt1
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Library to access GSettings from Qt
 This library can be used to access GSettings from Qt.

Package: libgsettings-qt-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libgsettings-qt1 (= ${binary:Version}),
Description: Library to access GSettings from Qt - devel
 This library can be used to access GSettings from Qt.
 .
 This package contains the development files needed to build applications using
 the GSettings Qt library.
