Source: gsettings-qt
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders:
 Boyuan Yang <073plan@gmail.com>,
Build-Depends:
 debhelper (>= 10~),
 libglib2.0-dev,
 pkg-config,
 qml-module-qtquick2,
 qml-module-qttest,
 qt5-qmake,
 qtbase5-dev,
 qtchooser,
 qtdeclarative5-dev,
 qtdeclarative5-dev-tools,
 xauth,
 xvfb,
Standards-Version: 4.0.0
Section: libs
Homepage: https://launchpad.net/gsettings-qt
Vcs-Git: https://anonscm.debian.org/git/collab-maint/gsettings-qt.git
Vcs-Browser: https://anonscm.debian.org/git/collab-maint/gsettings-qt.git

Package: libgsettings-qt-dev
Section: libdevel
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Library to access GSettings from Qt - devel
 This library can be used to access GSettings from Qt.
 .
 This package contains the development files needed to build applications using
 the GSettings Qt library.

Package: libgsettings-qt1
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Library to access GSettings from Qt
 This library can be used to access GSettings from Qt.

Package: qtdeclarative5-gsettings1.0
Section: libs
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 libgsettings-qt1 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: QML Bindings for GSettings
 This library provides QML bindings for GSettings.
